* { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    /* border: 1px red solid;  */
}

h1 { 
    font-size: 48px;
    font-weight: 900;
}

h2 { 
    font-size: 36px; 
}

header ,
.introduction , 
footer { 
    background-color: #1F2937;
    color: #F9FAF8; 
    padding: 20px; 
}

header { 
    height: 50px; 
    display: flex; 
    justify-content: space-between;
}

.introduction {
    height: 40em; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 0; 
    padding: 5em;  
    margin-bottom: 10px; 
    flex-wrap: wrap; 
    font-size: 18px;

}
i { 
    font-size: 40px; 
}

ul { 
   list-style: none;
   display: flex; 
   align-items: center; 
}

a { 
    text-decoration: none;
    color: #F9FAf8; 
    padding: 5px; 
}

.heroimage { 
    max-width: 500px; 
    height: auto; 
    margin-left: auto;
    flex: 2 0 5%;
    padding: 0% 5%;
    border: none; 
}


.intro2 { 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start; 
   flex-wrap: wrap; 
   max-width: 35em;
   flex: 1 1; 
}

button { 
    background-color: #3882F6;
    color: #F9FAF8; 
    margin-top: 25px;
    margin-bottom: 25px;  
    padding: 10px 15px; 
    width: 100px; 
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.contents { 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1; 
 }

 .main-content { 
    padding: 2em; 
    text-align: center; 
    height: 60%;
    
 }


 figure { 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin: 45px; 
 }

figcaption { 
    font-size: 18px; 
    color: #1F2937;
    margin-top: 5px; 

}

img { 
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    border: #3882F6 solid 5px;
    border-radius: 8px;

}

.quote { 
    background-color: #E5E7EB;
    height: 10em;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex: 1; 
    font-size: 36px;
    font-weight: 50px;
    font-style: italic; 
    flex-direction: column;
    padding: 0em 4em; 
    flex-shrink: 5; 
    

}

#Thor { 
    font-weight: 900;
    margin-left: auto;

}

.CTA { 
    margin: 8em; 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    background-color: #3882F6; 
    color: #F9FAF8; 
    padding: 40px; 
}

#ctabutton { 
    border: 1px #F9FAF8 solid; 
    border-radius: 8px; 
    margin-left: auto; 
}

footer { 
    height: 50px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}